<<<<<<< HEAD
html{
    background-image: linear-gradient(rgb(250, 192, 198),rgb(244, 112, 126));
    height: 100%;
}
body{
    display:flex;
    justify-content: center;
}
div{
    background-color: azure;
    position: relative;
    animation:  startUpDIV 0.7s;
}
input{
    margin-left: 30%;
    font-family: 'Roboto', sans-serif;
    opacity: 0;
    animation: linear startUpContent 1s forwards;
    animation-delay: 0.8s;
}
p{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 40px;
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    opacity: 0;
    animation: linear startUpContent 0.75s forwards;
    animation-delay: 0.7s;
}
h1{
    display:flex;
    justify-content: center;
    /*color : rgb(170, 135, 65); */
    margin-bottom: 10px;
    margin-top: 7px;
    opacity: 0;
    animation: startUpContent 1s forwards;
    animation-delay: 0.6s;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2%;
    width: 455px; 
}
li{
    display: flex;
    justify-content: center;
    width: 420px;
    margin-top: 2%;
    position: relative;
    animation:  addIn 200ms;
}
span{
    font-family: 'Roboto', sans-serif;
}
.completed{
    animation: cross 500ms forwards;
}
.checkNdel{
    display: flex;
    align-items: flex-end;
    height: 25px;
    width: 30px;
}
.addButton{
    font-family: 'Roboto', sans-serif;
    width: 30px;
    opacity: 0;
    animation: startUpContent 1s forwards;
    animation-delay: 0.8s;
}
.msg{
    display: flex;
    justify-content: center;
    color: red;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}
#blink{
    animation: linear blink 0.5s;
    animation-iteration-count: 3;
}
#delButton{
    align-self: center;
    width: 13px;
    height: 13px;
    position: relative;
    animation: addIn 200ms;
}
#checkButton{
    background-color: rgb(30, 170, 30);
}
span:hover{
    text-decoration: line-through;
}
@keyframes cross{
    from {}
    to {text-decoration: line-through; color: darkgrey;}
}
@keyframes addIn{
    from {opacity: 0; top: 5px;}
    to {opacity: 1; top: 0px;}
}
@keyframes startUpDIV{
    0% {opacity: 0; top: 0px;}
    25%{opacity: 0.25;}
    50% {top: 40px;}
    100% {opacity: 1; top: 0px}
}
@keyframes startUpContent{
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes blink{
    from {opacity: 0;}
    to {opacity: 1;}
}
=======
h1{
    color : blue; 
}
.completed{
    text-decoration: line-through;
    color: darkgrey;
}
>>>>>>> 5df3c1ec011b1417da39be842bda7f701d9319e9
